# IDE Files
.idea/
# Virtual Environment
venv/
# modmail-dev.core - Used for IDE IntelliSense
core/
# Development Testing Copy/Environment
test/
# Scripts for Development Use
ds-*.bat
ds-*.sh
ds-*.py
